.wrapper {
  @apply py-20 rounded-xl bg-white flex flex-col justify-between items-center w-[60px] fixed h-[calc(100%-100px)] overflow-y-auto overflow-x-hidden max-h-[1000px];
  background: rgb(218, 225, 233);
  background: -moz-linear-gradient(
    90deg,
    rgba(218, 225, 233, 1) 0%,
    rgba(243, 245, 247, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(218, 225, 233, 1) 0%,
    rgba(243, 245, 247, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(218, 225, 233, 1) 0%,
    rgba(243, 245, 247, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dae1e9",endColorstr="#f3f5f7",GradientType=1);
  .topSection {
    @apply w-[85%] flex flex-col justify-between gap-8 mt-10 px-10 lg:px-16;
  }
  .bottomSection {
    @apply flex flex-col gap-14 items-center justify-center;
    button {
      @apply flex flex-col gap-10 justify-center items-center;
      .icon {
        @apply h-[35px] lg:w-[40px] xl:w-[45px] w-[35px] lg:h-[40px] xl:h-[45px];
      }
      .title {
        @apply text-14;
      }
    }
    .profileCardContainer {
      @apply fixed md:bottom-[40px] lg:bottom-30 2xl:bottom-20 md:left-[90px] lg:left-[100px] xl:left-[110px] z-[5];
      .triangleArrow {
        @apply w-0 h-0 border-t-[10px] border-r-[15px] border-b-[10px] border-t-transparent border-b-transparent border-r-[#BFCCD9] absolute -left-14 bottom-[6rem] z-[1];
      }
    }
  }
}
